#btAdd {
    -fx-background-image: url('/png/ic_action_add.png');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btDelete{
    -fx-background-image: url('/png/ic_action_delete.png');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btEdit{
    -fx-background-image: url('/png/ic_action_edit.png');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btUpdate{
    -fx-background-image: url('/png/ic_action_update.png');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#btSave{
    -fx-background-image: url('/png/ic_action_save.png');
    -fx-background-size: 40px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

